/* Write your CSS code here */
.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
}

.name {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 22px;
  margin-bottom: 10px;
}

.role {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
